<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header>
            <img src="/img/Augustana Logo.png" alt="Meadowlark Travel Logo but Actually Augustana Logo" />
        </header>
        {{{body}}}
        {{{_sections.scripts}}}
    </body>
</html>