<h1>Welcome to Meadowlark Travel</h1>

<h2>Home</h2>
{{!-- This  > weather  syntax is how you include a partial (AKA widget) in express-handlebars --}}
{{!-- If you have more subdirectories, that would look like {{> folder/file}} --}}
{{> weather}}

<p>Questions?  Check out our <a href="/about" data-test-id="about">About Us</a> page!</p>
<ul>
  <li><a href="http://localhost:3005">Home</a></li>
  <li><a href="http://localhost:3005/about">About</a></li>
  <li><a href="http://localhost:3005/newsletter-signup">Express Newsletter Signup</a></li>
  <li><a href="http://localhost:3005/newsletter">API Newsletter signup</a></li>
  <li><a href="http://localhost:3005/contest/vacation-photo">Express File Upload</a></li>
  <li><a href="http://localhost:3005/vacation-photo">API File Upload</a></li>
</ul>